header {
  height: 493px;
  background: url("/assets/images/home/header-image.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  transform-origin: center top;
}

.post {
  .avatar {
    width: 4em;
    border-radius: 50%;
  }
  &__subtitle {
    font-size: 1.5em;
  }
  &__date {
    line-height: 1.2em;
  }
  &__content {
    font-size: 1.2em;
    line-height: 2em;
  }
}
.comment {
  border: 1px solid #ff9b52;
  border-width: 0 0 0 3px;
  .actions {
    border: 1px solid #eee;
    border-bottom-width: 1px 0;
  }
  .btn-link {
    color: #017db5;
    text-decoration: none;
  }
  &__content {
    font-size: 1.1em;
    line-height: 2em;
  }
}
