.avatar {
  width: 12em;
  border-radius: 50%;
}
.divider {
  border-top: 1px solid #eee;
}
.post {
  line-height: 2em;
  &__content {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
