<div class="modal-body">
  <div class="container d-flex justify-content-end">
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="container comment ms-4 my-4">
    <div class="row">
      <div class="col-2">
        <img class="avatar me-3" [src]="avatarSrcPath(comment?.author?.id)" />
      </div>
      <div class="col-9">
        <div>
          <strong>{{ comment?.author?.username }}</strong> -
          <span class="text-secondary">{{
            comment?.timestamp | date : "dd MMM, y"
          }}</span>
        </div>
        <div class="comment__content">
          {{ comment?.content }}
        </div>
      </div>
    </div>
    <div class="row mt-4" [formGroup]="form">
      <div class="col-2">
        <img class="avatar me-3" [src]="avatarSrcPath(1)" />
      </div>
      <div class="col-9">
        <textarea
          class="textarea"
          placeholder="Sua resposta..."
          formControlName="reply"
        ></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" [disabled]="!form.valid" (click)="reply()">
      Responder
    </button>
  </div>
</div>
